* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: auto;
}

body{
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url(img/bg-img-pc.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
}


h1{
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.teams{
    display: flex;
    flex-direction: column; /* Apilados */
    align-items: center;
    gap: 20px;
    min-height: 100vh; /* Ocupa AL MENOS toda la pantalla */
    box-sizing: border-box;
}
/* Estilos para los contenedores de los equipos */
.team1, .team2 {
    color: white;
    margin: 1.5rem;
    padding: 1rem;
    border: 2px solid #555;
    border-radius: 10px;
    width: 200px;
    font-size: 1rem;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    border: 2px solid #FFC800;   
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(255, 200, 0, 0.3); 
    text-align: center;
}

.versus {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
}

/* Estilos para los botones */

.btn-box {
    background-color: #75AADB; /* Celeste Bandera */
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 8px; /* Bordes redondeados */
    width: 50px;       /* Un poco más anchos */
    height: 40px;
    cursor: pointer;
    margin: 5px;
    transition: all 0.2s; /* Animación suave */
    box-shadow: 0 4px 0 #4a8ac2; /* Sombrita 3D azul más oscuro */
}

.btn-box:hover {
    background-color: #5fa0d6;
    transform: translateY(-2px); /* Se levanta un poquito */
}

.btn-box:active {
    transform: translateY(2px); /* Se hunde */
    box-shadow: 0 0 0 #4a8ac2;  /* Desaparece la sombra */
}

.btn-reset {
    background: transparent;
    border: 1px solid #FFC800; /* Borde dorado fino */
    color: #FFC800;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 0.8rem;
    cursor: pointer;
    letter-spacing: 2px;
}
.btn-reset:hover {
    background: #FFC800;
    color: black;
}

input {
    width: 150px;
    font-size: 3rem;
    text-align: center;
    border: none;
    background-color: transparent; 
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    margin: 10px 0;
    text-shadow: 2px 2px 0px #75AADB;
    outline: none; 
}


label{
    margin-bottom: 5px;
    font-size: 1.2rem;
    display: block;
}

/*Estilos de las pestañas*/

.title-game{
    color: white;
    text-shadow: 2px 2px 4px #000000;
    margin-top: 50px;
}

.tabs {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.tab-btn {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: 2px solid #75AADB;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s;
}

.tab-btn:active, .tab-btn:hover {
    background: #75AADB; /* Se pinta celeste cuando está activo */
    color: black;
}

/* Ocultamos secciones*/
.hidden {
    display: none !important; /* El truco para esconder juegos */
}

/*Tablero Ta TE TI*/
.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas iguales */
    gap: 10px;
    width: 300px;
    margin: 20px auto; /* Centrado */
}

.cell {
    width: 100%;
    height: 100px;
    background: rgba(0, 0, 0, 0.6);
    border: 2px solid #FFC800;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(255, 200, 0, 0.2);
}

.cell:hover {
    background: rgba(255, 200, 0, 0.2);
}

.status {
    color: white;
    font-size: 1.5rem;
    font-family: 'Bebas Neue', sans-serif;
    margin-bottom: 10px;
    text-shadow: 2px 2px 0 #000;
}


@media screen and (max-width: 768px) {
    body{
        background-image: url(img/back-img.jpg);
    }
    .teams {
        flex-direction: column;
    }
    
}