* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: auto;
}

body{
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-image: url(back-img.jpg);
    background-size: cover;
}
h1{
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.teams{
    display: flex;
    flex-direction: column; /* Apilados */
    align-items: center;
    justify-content: center;
    gap: 20px;
    min-height: 100vh; /* Ocupa AL MENOS toda la pantalla */
    padding: 20px 0;   /* Espacio arriba y abajo para que no se pegue a los bordes */
    box-sizing: border-box;
}
/* Estilos para los contenedores de los equipos */
.team1, .team2 {
    color: white;
    margin: 1.5rem;
    padding: 1rem;
    border: 2px solid #555;
    border-radius: 10px;
    width: 200px;
    background-color: #444;
    font-size: 1rem;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    border: 2px solid #FFC800;   
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(255, 200, 0, 0.3); 
    text-align: center;
}

.versus {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
}

/* Estilos para los botones */

.btn-box {
    background-color: #75AADB; /* Celeste Bandera */
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 8px; /* Bordes redondeados */
    width: 50px;       /* Un poco más anchos */
    height: 40px;
    cursor: pointer;
    margin: 5px;
    transition: all 0.2s; /* Animación suave */
    box-shadow: 0 4px 0 #4a8ac2; /* Sombrita 3D azul más oscuro */
}

.btn-box:hover {
    background-color: #5fa0d6;
    transform: translateY(-2px); /* Se levanta un poquito */
}

.btn-box:active {
    transform: translateY(2px); /* Se hunde */
    box-shadow: 0 0 0 #4a8ac2;  /* Desaparece la sombra */
}

.btn-reset {
    background: transparent;
    border: 1px solid #FFC800; /* Borde dorado fino */
    color: #FFC800;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 0.8rem;
    cursor: pointer;
    letter-spacing: 2px;
}
.btn-reset:hover {
    background: #FFC800;
    color: black;
}

input {
    width: 150px;
    font-size: 3rem;
    text-align: center;
    border: none;
    border-radius: 5px;
    background-color: #333738;
    color: white;
    align-items: center;
    font-family: 'Bebas Neue', sans-serif;
    margin: 10px 0;
    text-shadow: 2px 2px 0px #75AADB; /* Sombrita celeste */

}

label{
    margin-bottom: 5px;
    font-size: 1.2rem;
    display: block;

}
